<section class="overflow-x-hidden">
    <section
        class="bottom-0 mt-[100px] ml-[-50%] w-[200%] rounded-t-[100%] bg-[url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?t=st=1730279198~exp=1730282798~hmac=f5dd6b42357677a19b4f25a495c7f440d164a86e58698c37815bdb8d47fe47f5&w=1380')] flex justify-center">
        <section class="text-center w-1/2 px-40 max-md:px-20">
            <p class="text-cyan-600 font-semibold pt-10">READY TO GET STARTED</p>
            <h1 class="text-4xl font-bold py-6">Get The Latest Insurance News In Minutes</h1>
            <p class="pb-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, fugit ab omnis dignissimos
                accusamus
                excepturi
                aliquam nostrum amet vel aut!</p>
            <div class="pb-8">
                <input placeholder="Email Address"
                    class="bg-gray-200 rounded-md border border-slate-700 placeholder:text-slate-700 p-4" />
                <button class="bg-cyan-600 border-0 p-4 rounded-md text-slate-50">Subscribe</button>
            </div>
        </section>
    </section>
</section>