<footer class="bg-cyan-50 flex justify-around p-12 text-slate-500 max-md:flex-col md:hidden">
    <div class="flex max-md:flex-none max-md:mt-4 justify-between">
        <div>
            <h1 class="text-4xl text-cyan-600 font-bold">Logo</h1>
            <p><b>Location:</b> Isr Street gilrt awam juim</p>
            <p><b>Contact:</b> +9 5555559909</p>
            <p><b>Time:</b> (9am -5pm EST, Monday - Friday)</p>
            <p><b>Email:</b> youme{{'@'}}Rule.com</p>
        </div>
        <div class="flex flex-col">
            <h1 class="text-3xl font-bold">Company</h1>
            <a href="#">Case Studies</a>
            <a href="#">Case Details</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Services</a>
        </div>
    </div>
    <div class="flex  max-md:flex-none max-md:mt-4 justify-between">
        <div class="flex flex-col">
            <h1 class="text-3xl font-bold">Explore</h1>
            <a href="#">About Us</a>
            <a href="#">Blog and news</a>
            <a href="#">Blog Details</a>
            <a href="#">Pricing</a>
        </div>
        <div class="flex flex-col">
            <h1 class="text-3xl font-bold">Insurance</h1>
            <a href="#">Health Insurance</a>
            <a href="#">Car Insurance</a>
            <a href="#">Bussiness Insurance</a>
            <a href="#">Life Insurance</a>
        </div>
    </div>
</footer>
<footer class="bg-cyan-50 flex justify-around p-12 text-slate-500 max-md:flex-col max-md:hidden">
    <div>
        <h1 class="text-4xl text-cyan-600 font-bold">Logo</h1>
        <p><b>Location:</b> Isr Street gilrt awam juim</p>
        <p><b>Contact:</b> +9 5555559909</p>
        <p><b>Time:</b> (9am -5pm EST, Monday - Friday)</p>
        <p><b>Email:</b> youme{{'@'}}Rule.com</p>
    </div>
    <div class="flex flex-col">
        <h1 class="text-3xl font-bold">Company</h1>
        <a href="#">Case Studies</a>
        <a href="#">Case Details</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Services</a>
    </div>
    <div class="flex flex-col">
        <h1 class="text-3xl font-bold">Explore</h1>
        <a href="#">About Us</a>
        <a href="#">Blog and news</a>
        <a href="#">Blog Details</a>
        <a href="#">Pricing</a>
    </div>
    <div class="flex flex-col">
        <h1 class="text-3xl font-bold">Insurance</h1>
        <a href="#">Health Insurance</a>
        <a href="#">Car Insurance</a>
        <a href="#">Bussiness Insurance</a>
        <a href="#">Life Insurance</a>
    </div>
</footer>